.first-block {
    margin-top: 104px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 85px;

    &__title {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 45px;
        display: flex;
        align-items: center;
        color: #252525;
        margin-bottom: 39px;
    }

    &__text {
        font-weight: 400;
        font-size: 22px;
        line-height: 36px;
        color: #252525;
    }
}

.delivery {
    width: 70%;
    margin: 30px auto;
    padding: 40px;
    background: linear-gradient(88.3deg, #781DE5 1.93%, #9339FF 99.16%);
    border-radius: 58px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #FFFFFF;
    position: relative;
    .star {
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0L17.0409 14.9591L32 16L17.0409 17.0409L16 32L14.9591 17.0409L0 16L14.9591 14.9591L16 0Z' fill='%23FFFDFD' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
        width: 32px;
        height: 32px;
        background-size: contain;
        
        &_1 {
            top: 19px;
            right: 64px;
        }
        &_2 {
            bottom: 18px;
            right: 54px;
            width: 60px;
            height: 60px;
        }
        &_3 {
            bottom: 142px;
            left: 84px;
        }
    }
}

.first-block.second {
    flex-flow: row-reverse;
}

@media (max-width: 920px) {

    .first-block,
    .first-block.second {
        gap: 0;

        &__img {
            img {
                transform: scale(.8);
            }
        }
    }
}

@media (max-width: 820px) {

    .first-block,
    .first-block.second {
        flex-flow: column;

        &__img {
            img {
                transform: scale(1);
            }
        }
    }
}

@media (max-width: 480px) {

    .first-block,
    .first-block.second {
        &__title {
            font-size: 31px;
            margin-bottom: 20px;
        }

        &__text {
            p {
                font-size: 18px;
                line-height: 33px;
            }
        }
    }
}