.footer {
    width: 100%;
    margin-top: 213px;
    background: linear-gradient(88.3deg, #781DE5 1.93%, #9339FF 99.16%);
    border-radius: 58px 58px 0px 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 53px 0;

    &__content {
        display: flex;
        align-items: center;
        gap: 56px;
    }

    &__telegram {
        img {
            border-radius: 50%;
            box-shadow: 0px 0px 11px rgba(255, 255, 255, 0.65);
        }
    }

    &__phone {
        font-weight: 800;
        font-size: 22px;
        line-height: 165.19%;
        color: #FFFFFF;
    }

    &__soglasie {
        max-width: 180px;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    .author {
        margin-top: 50px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-align: center;

        color: rgba(255, 255, 255, 0.8);

        a {
            text-decoration: underline;
        }
    }
}

@media (max-width: 780px) {
    .footer {
        &__content {
            flex-flow: column;
        }
    }
}